@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg: #ffffff;
  --Landingbg: #f5f9fc;
  --section: #172542;
  --primary: #25a26b;
  --secoundry: #37af58;
  --plant-dark: #1a704b;
  --danger: #f0534f;
  --blue: #2073b0;
  --warning: #f0b11f;
  --padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* container */
.parent {
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .parent {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .parent {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .parent {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .parent {
    width: 1370px;
  }
}

/* btns */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background: linear-gradient(
    to right bottom,
    var(--primary),
    var(--secoundry)
  );
  color: white;
}

.btn-rounded {
  border: 2px solid #000;
  color: #000;
}
